/* Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;
/*Default styles  */
:root {
  font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light; /* pagina BLANCA predeterminada */
  color: #000; /* color de letra NEGRO predeterminado */
}
.custom-list > li::before {
  content: "•";
  margin-right: 0.5rem; /* Ajusta el espaciado entre la viñeta y el texto */
}